@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi, I'm Hope.</h1>
    <p>And, you are welcome to my world.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="../wwwroot/data/Hope.png" alt="Image here " />
</div>
